@{
    ViewBag.Title = "Sistema de Gerenciamento de Fármacias";
}
<div class="container body-content">
    <div class="row" style="margin-top: 10px; ">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="padding:5px;">
            <a style="color:white;text-decoration:none;width:100%" href="@Url.Action("Index","Home")" class="btn btn-info">
                <i class="material-icons plus-font">attach_money</i>
                <p>Vendas</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="padding:5px;">
            <a style="color:white;text-decoration:none;width:100%" href="@Url.Action("Index","Home")" class="btn btn-info">
                <i class="material-icons plus-font">business_center</i>
                <p>Cadastro de Produtos</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="padding:5px;">
            <a style="color:white;text-decoration:none;width:100%" href="@Url.Action("Index","Home")" class="btn btn-info">
                <i class="material-icons plus-font">shopping_cart</i>
                <p>Estoque</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="padding:5px;">
            <a style="color:white;text-decoration:none;width:100%" href="@Url.Action("CadastroFornecedor","Home")" class="btn btn-info">
                <i class="material-icons plus-font">leaderboard</i>
                <p>Cadastro de Fornecedores</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="padding:5px;">
            <a style="color:white;text-decoration:none;width:100%" href="@Url.Action("Index","Home")" class="btn btn-info">
                <i class="material-icons plus-font">person_add</i>
                <p>Cadastro de Usuários</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="padding:5px;">
            <a style="color:white;text-decoration:none;width:100%" href="@Url.Action("Index","Home")" class="btn btn-info">
                <i class="material-icons plus-font">personal_video</i>
                <p>Sobre o Sistema</p>
            </a>
        </div>
    </div>
</div>